/* Akira Expanded Font - Esports/Cyberpunk Style */
@font-face {
    font-family: 'Akira Expanded';
    src: url('/fonts/AkiraExpanded.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}